<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zj.hiapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".biz.RegisterActivity"/>
        <activity android:name=".biz.LoginActivity" />
        <activity android:name=".demo.HiBannerDemoActivity" />
        <activity android:name=".demo.HiRefreshDemoActivity" />
        <activity android:name=".router.DegradeGlobalActivity" />
        <activity android:name=".biz.VipActivity" />
        <activity android:name=".biz.AuthenticationActivity" />
        <activity android:name=".biz.ProfileDetailActivity" />
        <activity android:name=".demo.TabTopLayoutActivity" />
        <activity android:name=".demo.LogActivity" />
        <activity android:name=".demo.TabBottomLayoutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>